@{
    ViewData["Title"] = "Home";
}

<div class="centered" >
    <h2>Welcome to library revisor!</h2>
</div>

<div class="right-up">
    <p><a href="@Url.Action("SignIn", "Account")">Sign In</a></p>
</div>
<div class="container">
<div class="about0">
    <h4>About</h4>
    <p>This web application is created for library revision. And for learning ASP.NET...</p>
</div>

<div class="about1">
    <h4>Functions:</h4>
    <ul>
        <li>Adding books(title, author, etc.)</li>
        <li>Rating books</li>
        <li>Writing reviews</li>
        <li>Favourite quotes</li>
    </ul>
    </div>
</div>