@{
    ViewData["Title"] = "Homepage";
}

<div class="container">
    <div class="option0">
        <p><a href="@Url.Action("MyBooks", "BookPages")">My Books</a></p>
    </div>

    <div class="option1">
        <p><a href="@Url.Action("Profile", "Account")">Profile</a></p>
    </div>
</div>