@{
    ViewData["Title"] = "My Books";
}
<div class="right-up">
    <p>My Books</p>
</div>
<div class="right-down">
    <p><a href="@Url.Action("AddBook", "BookPages")">Add Book</a></p>
</div>

<div>
    <p>Title:</p>
    <p>Author:</p>
    <p>Rate:</p>
</div>